<div class="wrapper">
  <h2>Log in to continue</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'john@doe.com' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, class: 'switch' %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>


    <div class="actions centered">

      <button type="submit" id="submitButton ">
          <i class="fa fa-check task-button"></i>
      </button>

    </div>

  <% end %>
  <div class="centered">
    <%= render "devise/shared/links" %>
  </div>
</div>
